@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.top{
    padding: 0%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;  
}
.top .top-logo{
    
    width: auto;
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: inline;
}
.top .top-logo img{
    vertical-align: top;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}
.top .top-text{
    padding-top: 10px;
    padding-left: 2%;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;  
}
@media screen and (max-width: 680px)
{
    .top .top-logo img{
        width: 5rem;
        height: 5rem;
    }
    .top .top-logo{
        display: inline;
    }
    .top .top-text{
        display: inline-block;
    }
    .top .top-text h1,h3{
        font-size: 1rem;
    } 
}

#main-content{
	min-height: 100vh;
	
	background-size: cover;
	display: flex;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
	
}
.contact-section{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-info{
	
	max-width: 500px;
	line-height: 60px;
	padding-left: 50px;
	padding-right:10px;
	font-size:18px;
}
.contact-info p{
	line-height:30px;
}
.contact-info i{
	margin-right: 20px;
	font-size: 25px;
}
.contact-form{
	max-width: 700px;
	margin-right: 50px;
}
.contact-info, .contact-form{
	flex: 1;
}
.contact-form h2{
	
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.contact-form .text-box{
	 background: #e6ffff;
	 
	 border: none;
	 width: calc(50% - 10px);
	 height: 40px;
	 padding: 12px;
	 font-size: 15px;
	 border-radius: 5px;
	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	 margin-bottom: 20px;
	 opacity: 0.9;
}
.contact-form .text-box:first-child{
	margin-right: 15px;
}
.contact-form textarea{
	background: #e6ffff;
	color: #000;
	border: none;
	width: 100%;
	padding: 12px;
	font-size: 15px;
	min-height: 200px;
	max-height: 400px;
	resize: vertical;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
}
.contact-form .send-btn{
	float: right;
	background: #d6f5f5;
	color: #000;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	transition-property: background;
}


.contact-form .send-btn:hover{
	background: #00e6e6;
}
@media screen and (max-width: 950px){
	.contact-section{
		flex-direction: column;
	}
	.contact-info .contact-form{
		margin: 30px 50px;
	}
	.contact-form h2{
		font-size: 30px;
	}
	.contact-form .text-box{
		width: 100%;
	}
}
/*css for alert msg*/
.alert-success{
	z-index: 1;
	background: #D4EDDA;
	padding: 20px 40px;
	min-width: 420px;
	position: fixed;
	right: 0;
	top: 10px;
	border-left: 8px solid #3AD66E;
	border-radius: 4px;
}
.alert-error{
	z-index: 1;
	background: #FFF3CD;
	padding: 20px 40px;
	min-width: 420px;
	position: fixed;
	right: 0;
	top: 10px;
	border-left: 8px solid #FFA502;
	border-radius: 4px;
}